flows_DESKTOP-HKPDG3G.json
[{"id":"53d27198.45f08","type":"tab","label":"Inject","disabled":false,"info":""},{"id":"d68e1746.67e258","type":"tab","label":"Switch","disabled":false,"info":""},{"id":"947baf62.5b7b1","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"faaca468.48d488","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"4df7b7fd.e13cc8","type":"ui_tab","z":"","name":"controles","icon":"dashboard","disabled":false,"hidden":false},{"id":"4bc0276c.259368","type":"ui_group","z":"","name":"indicador3","tab":"5cc137b7.c01008","order":1,"disp":true,"width":"6","collapse":true},{"id":"73c623f7.e2fa7c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4826a2b5.7bce9c","type":"ui_spacer","name":"spacer","group":"4bc0276c.259368","order":1,"width":6,"height":1},{"id":"fd71500f.c80fa","type":"ui_spacer","name":"spacer","group":"4bc0276c.259368","order":2,"width":6,"height":1},{"id":"3eaeb318.b387bc","type":"ui_spacer","name":"spacer","group":"4bc0276c.259368","order":3,"width":6,"height":1},{"id":"5cc137b7.c01008","type":"ui_tab","z":"","name":"Indicadores","icon":"dashboard","disabled":false,"hidden":false},{"id":"bf862bef.6d5708","type":"ui_group","z":"","name":"Nuevo grupo","tab":"4df7b7fd.e13cc8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f4e4beb5.9d318","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d2ceae8b.a79e","type":"ui_group","z":"","name":"Todos","tab":"f4e4beb5.9d318","order":1,"disp":true,"width":"6","collapse":false},{"id":"7767a0c8.d2d83","type":"telegrambot-config","z":"","botname":"Bot","usernames":"","chatIds":"/hola","pollInterval":"300"},{"id":"95e84664.c51988","type":"telegrambot-config","z":"","botname":"Pruebabot_bot","usernames":"","chatIds":"","pollInterval":"300"},{"id":"83b4912c.e4e9b","type":"inject","z":"53d27198.45f08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Tópico 1","payload":"Hola Mundo","payloadType":"str","x":210,"y":100,"wires":[["96f6e01.e0c742"]]},{"id":"96f6e01.e0c742","type":"debug","z":"53d27198.45f08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":100,"wires":[]},{"id":"501db95b.a3cfb8","type":"inject","z":"d68e1746.67e258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola","payloadType":"str","x":70,"y":80,"wires":[["3e4e8d37.9eec32"]]},{"id":"bc94bb8f.099d88","type":"inject","z":"d68e1746.67e258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Adios","payloadType":"str","x":70,"y":180,"wires":[["3e4e8d37.9eec32"]]},{"id":"c679a928.b21738","type":"debug","z":"d68e1746.67e258","name":"Cuando Adios","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":200,"y":360,"wires":[]},{"id":"3e4e8d37.9eec32","type":"switch","z":"d68e1746.67e258","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"hola","vt":"str"},{"t":"eq","v":"Adios","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":120,"wires":[["c679a928.b21738"],["c679a928.b21738"]]},{"id":"feb6d4d5.4e2738","type":"ui_button","z":"947baf62.5b7b1","name":"","group":"d2ceae8b.a79e","order":4,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"saludos a todos","payloadType":"str","topic":"","x":50,"y":80,"wires":[["5fa3d735.56d0a8","9ee26662.46e928"]]},{"id":"5fa3d735.56d0a8","type":"ui_audio","z":"947baf62.5b7b1","name":"","group":"d2ceae8b.a79e","voice":"es-ES","always":"","x":180,"y":160,"wires":[]},{"id":"6ce875ca.54a26c","type":"ui_gauge","z":"947baf62.5b7b1","name":"","group":"d2ceae8b.a79e","order":5,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"litros","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":520,"wires":[]},{"id":"f426efb2.6b992","type":"ui_slider","z":"947baf62.5b7b1","name":"","label":"medidas","tooltip":"","group":"d2ceae8b.a79e","order":6,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":300,"y":440,"wires":[["6ce875ca.54a26c","80973239.76ab1"]]},{"id":"b8f26762.aba8f8","type":"random","z":"947baf62.5b7b1","name":"","low":"1","high":"100","inte":"true","property":"payload","x":180,"y":380,"wires":[["f426efb2.6b992"]]},{"id":"c97976d6.66e148","type":"inject","z":"947baf62.5b7b1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":320,"wires":[["b8f26762.aba8f8"]]},{"id":"80973239.76ab1","type":"ui_chart","z":"947baf62.5b7b1","name":"","group":"d2ceae8b.a79e","order":7,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":600,"wires":[[]]},{"id":"9ee26662.46e928","type":"ui_text","z":"947baf62.5b7b1","group":"d2ceae8b.a79e","order":5,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":200,"y":240,"wires":[]},{"id":"d1f2d58a.a29ce8","type":"telegrambot-command","z":"faaca468.48d488","name":"","bot":"95e84664.c51988","command":"Hola","commandType":"re","commandCase":false,"x":150,"y":360,"wires":[["3d9dfa0e.6ca536","10ddd6b2.79e3b9"]]},{"id":"3d9dfa0e.6ca536","type":"telegrambot-notify","z":"faaca468.48d488","name":"","bot":"95e84664.c51988","chatId":"","message":"que paso","parseMode":"","x":380,"y":420,"wires":[]},{"id":"10ddd6b2.79e3b9","type":"debug","z":"faaca468.48d488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":360,"wires":[]}]